<%- include('includes/head'); %>

<body>
    <%- include('includes/navigation'); %>
    <div class="card container">
        <h2>About This App</h2>
        <p>This project made by <a href="https://github.com/brkunver">Burakhan Ünver</a></p>
    </div>
    
    
</body>
</html>